@media (max-width:1200px) {

	.header{
		margin-bottom: 300px;
	}

	.title-1 {
		font-size: 68px;
	}

	.content-text::before{
		width: 140px;
		height: 140px;
		font-size: 140px;
	}

	.content-text{
		padding-left: 50px;
		max-width: 50%;
	}

	.content-img {
		width: 45%;
	}
}

@media (max-width:1100px){
	.footer-nav-wrapper{
		column-gap: 100px;
	}
}

@media (max-width:920px){
	.footer-row{
		flex-direction: column-reverse;
	}

	.footer-nav-wrapper{
		margin-bottom: 80px;
	}
}

@media (max-width:800px) {
	.account, .navigation {
		display: none;
	}

	.nav{
		margin-bottom: 90px;
	}

	.nav-button {
		display: block;
	}

	.mobile-nav-active{
		display: flex;
	}

	.title-1{
		font-size: 38px;
	}

	.title-category{
		font-size: 14px;
		padding-left: 62px;
	}

	.title-category::before{
		width: 42px;
	}

	.header{
		margin-bottom: 250px;
	}

	.article-title{
		font-size: 44px;
	}

}

@media (max-width:720px){

	.content{
		flex-direction: column-reverse;
		margin-bottom: 100px;
	}

	.content:nth-child(even){
		flex-direction: column-reverse;
	}

	.content-text{
		max-width: 100%;
	}

	.content-img{
		width: 100%;
		margin-bottom: 75px;
	}
}

@media (max-width:560px){
	.footer-nav-wrapper{
		flex-direction: column;
	}

	.footer-nav{
		margin-bottom: 60px;
	}

	.footer-copyright{
		margin-top: -60px;
	}
}
